*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: #333;
}

.header,
.footer {
  min-height: 6rem;
  background-color: #c1c1c1;
  display: flex;
  align-items: center;
}

.main {
  min-height: calc(100vh - 12rem);
  padding: 4rem 0;
}

.row {
  width: 80%;
  margin: 0 auto;
}

.board-header {
  padding-bottom: 4rem;
}

.board-content {
  display: flex;
  gap: 4rem;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  margin-top: 2rem;
  list-style: none;
  border: 1px solid #e6e6e6;
}

.list-item {
  padding: 0.2rem;
  padding-left: 1rem;
  list-style: none;
}

.list-item:nth-child(even) {
  background-color: #e6e6e6;
}

.list-container,
.form-container {
  flex: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form input {
  padding: 0.5rem;
  border: 1px solid #e6e6e6;
}

.form button {
  align-self: flex-end;
}

.refresh-btn,
.submit-btn {
  padding: 0.5rem 2rem;
  cursor: pointer;
  border: 1px solid #e6e6e6;
}

@media (max-width: 768px) {
  .board-content {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .row {
    width: 90%;
  }
}
